*{
    margin: 0;
    padding:0; 
     text-decoration: none;
     -moz-box-sizing: border-box;
     
}



                                  /* ---------------HEADER----------*/
 body{
   background-color: rgb(219, 217, 217);
 --color--body: rgb(233, 231, 231);
  --color--header:rgb(214, 212, 212); 
  --color--aside: white;
 --color--texto:black; 
 --btn--hover: rgb(170, 170, 179);
 --color--btn:rgb(228, 222, 222);
    --color--blend-mode:rgb(228, 222, 222);   
                                    
  }          

  body.dark-theme{
    --color--body:rgb(54, 54, 80);
   --color--header:rgb(34, 34, 59);
   --color--aside:rgb(35, 40, 58);
   --color--texto:white;
   --btn--hover:rgb(50, 60, 88);
  --color--btn: rgb(41, 49, 74);
--color--blend-mode: rgb(41, 49, 74);


}

/* @media(prefers-color-scheme: light){
    body{
        /* --color--body: rgb(219, 217, 217);
        --color--header:rgb(228, 222, 222); 
        --color--aside: white;
     --color--texto:black; */
    /* }

    body.dark-theme{
        --color--body:rgb(54, 54, 80);
        --color--header:rgb(34, 34, 59);
        --color--aside:rgb(35, 40, 58);
        --color--texto:white;
      --btn--hover:
}
}  */




/* ///////////////////////
 /* body.light-theme{
    --color--body: rgb(219, 217, 217);
    --color--header:rgb(228, 222, 222); 
    --color--aside: white;
 --color--texto:black; }   
//////////////////////// */


.oculto{
 display: none;
   
 } 


                                                     /* ------------------------------------
                                                                       HEADER 
                                                     ------------------------------------ */

body{
    background-color: var(--color--body);
}


header{ 
padding: 10px; 
 background-color:var(--color--header);
color: var(--color--texto);
}

.titulo-principal{
    /* color: white; */
text-align: center;
 margin-top: 10px;
}
@media (max-width:600px){
.titulo-principal{
    font-size: 25px;
}
}

.caja-btn-principales{
display: flex;
justify-content: center;
  
}


.btn-imagen, .btn-texto, .btn-modo{
 padding: 10px;
margin: 2px;
 border: 0;
 border-radius: 5px;
 cursor: pointer;  
 outline: none;
 background-color: transparent;
 color: var(--color--texto);
}
.btn-texto:hover, .btn-imagen:hover,.btn-modo:hover {
transition: 0,2s;
background-color: var(--btn--hover);
 border-radius: 5%;
}



.fa-file-image, .fa-a, .fa-lightbulb  {
margin-right: 10px;
 }

                           /* <!-- -------------------------------------------
                                       CONTENEDOR-IMAGEN-MEME
                         --------------------------------------------- --> */

main{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

}
@media (max-width:1000px)  {
    main{
    display: flex;
    justify-content: center;
    padding-top: 70px;
     font-size: 20px;
    }
}

 .caja-interior-meme{
 width: 100%;
 height: 500px;
 max-width: 450px;
 margin: 30px;
background-color: rgb(0, 0, 0);
display: flex;
flex-direction: column;     

}

 @media(min-width:300px) and (max-width:1000px){
    .caja-interior-meme{
max-width:300px;
display: flex;
 justify-content: center;
margin-top: 0;
 flex-grow: 1;
    }
} 


#meme-imagen{
background-image: url();
background-size: cover;
/* width: 100%; */
flex-grow: 1;
}
 
 #top-texto{
  padding: 35px 50px; 
 background-color: rgb(255, 255, 255);
 /* color: black; */
font-weight: 900;
font-size: 20px;
text-align: center;
margin: 0;
 }
 
 #bottom-texto{
padding: 35px 50px;
background-color: rgb(255, 255, 255);
 /* color: 0000; */
font-weight: 900;
font-size: 20px;
text-align: center;
margin: 0;
 }

@media (max-width:1000px) and (min-width:800px){
    #top-text, #bottom-text{
      padding: 10px;
    }
}

.texto-transparente{
/* background-color: transparent;
/* position: absolute; */ */

}



 .btn-descargar{
background-color:rgb(23, 107, 55); 
 color: white; 
 border: none;
flex-direction: column;
 align-items: center;
 border-radius: 5px;
padding: 10px 6px 10px 6px;
margin-top: 15px;
 cursor: pointer;
 }
 .btn-descargar:hover{
    background-color: rgb(11, 63, 11);
 } 
       
 @media (min-width:300px) and (max-width:800px){
    .btn-descargar{
      padding: 10px 5px;
    }
} 

 .fa-download{
    margin-right: 2px;
}

                                    
                                      /* <!-- -------------------------------------------
                                               SECCION-EDICION-IMAGEN
                                      ------------------------------------------ --> */

#primera-columna{
width: 280px;
/* display: flex; */
 height: 100%;  
position: fixed;
flex-direction: column;
justify-content: flex-start; 
right:  0;
top: 0;
background-color: var(--color--aside);
line-height: 15px;
z-index:10;
box-shadow: -10px 10px 100px 5px rgba(0, 0, 0, 0.3);

color: var(--color--texto);
 }

@media(max-width:1100px){
#primera-columna{
    display: none;
}
}

.btn-cerrar{
    width: 30px;
    margin-left: 80%;
    border: none;
    cursor: pointer;
    color: var(--color--texto);
    margin-top:15px;
    background-color: var(--color--btn)
 }
.btn-cerrar:hover{
    background-color: var(--btn--hover);
}
@media (min-width:1200px){
    .btn-cerrar{
    visibility: hidden;
    }
}


#caja-vertical{
    width: 98%;
 height: 100%;
margin-right: 5px;
padding: 5px 0px 10px 5px;
font-size: 10px; 

}

.titulo-imagen-texto{
    font-size: 15px;
   padding-bottom: 20px;
 }
   

 .titulo-fondo, .titulo-url, .titulo-filtros{
    font-size: 10px;
}

#url-imagen, .caja-superior, .caja-inferior {
    background-color:var(--color--btn);  
   width: 98%;
   height: 25px;
    border: none;
    margin-bottom: 5px;
   margin-top: 5px;
   outline: none;
     }
     #url-imagen:hover, .caja-superior:hover, .caja-inferior:hover,#tama単o-espaciado:hover, #line-height:hover{
       background-color:var(--btn--hover);
    } 
   
                                              /* ------------------------------ 
                                                      EDICION FONDO
                                               ----------------------------- */
 .boton-fondo, .boton-color{
   display: flex;
  width: 80px;
 margin: 0;
  padding: 0;
  }                                             

  .boton-fondo2{
    display: flex;
      background-color:var(--color--btn); 
     height: 25px;
      
   }
  

   input[type=color]{
    width: 50px;
    height: auto;
    padding: 0;
    padding-left:  1px;
     border: none; 
    cursor: pointer;
    background-color: var(--color--blend-mode);
    }


   #blend-mode-color{
    padding: 5px 8px;
    border: none;
     color: var(--color--texto);
    margin: 1px;
    background-color: var(--color--blend-mode) ;
    outline: none;
    
    }
     #blend-mode-color:hover{
      background-color:  var(--btn--hover);
     }
     
     .blend-mode-uno{
        padding-left: 15px;
    }

    #blend-mode-color-fondo{
        padding: 5px 8px;
    border: none;
    color: var(--color--texto);
    margin: 1px;
    background-color: var(--color--blend-mode);
    outline: none;
    }



                         ---------------------------
                                EDICION FILTROS
                           ----------------------- */

.caja-filtros-opciones{
 display: flex;
flex-direction: column;
margin-right: 3px;
}

.titulo-filtros{
margin-top: 15px;
 margin-bottom: 10px;
}

.caja-slider{
margin: 2px;
}

input[type=range] {
 height: 5px;
 -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
 background-color: rgb(91, 91, 94);

  }  

.titulo-slider, p{
 margin: 2px;
}

.slider{
 width: 100%;
 cursor: pointer;
}

.btn-filtros{
    padding: 4px 6px;
   background-color:var(--color--btn);
   border: none;
   margin-top: 10px;
   margin-left: 3px;
   cursor: pointer;
   }
   .btn-filtros:hover{
       background-color:var(--btn--hover)
   }

.boton-color{
 width: 7%;
}
.boton-color:hover{
    background-color:var(--btn--hover);
}

 #input-color{
 background-color: var(--btn--hover) ;
 padding: 4px 20px;
}  
                       
                                               /* ----------------------------------
                                                        SEGUNDO SECCION
                                               -------------------------------- */
#caja-vertical-dos{                                     
 width:98%;
  height: 100%;  
 padding:90px 10px ;                                                                                     
 padding-inline-start: 10px;                                         
 line-height: 25px;                                          
 font-size: 10px;   
 padding: 5px 0px 10px 5px;
 }                                                                                    
                    
.caja-texto{
    display: block;

}

  #sin-texto-superior,#sin-texto-inferior, #texto-transparente{
margin-left: 3px;

}


.blend-mode-color-input{
    width: 100%;
}

#FFFFFF{
border-radius: 50%;
}

input #superior{
    margin-right: 2px;
}

.fuentes-align{
    display: block;
}
 .fuentes{
display:block;

padding: 3px;

} 

#familia-fuentes{
width: 97%;
 height: 25px;
background-color:var(--color--blend-mode);
color:var(--color--texto);
 border: none;
 outline: none;
  margin-bottom: 3px;
}
#familia-fuentes:hover, #tama単os-fuentes:hover{
    background-color: var(--btn--hover); 
}


#tama単os-fuentes{
 width: 90px;
 padding: 10px 15px; 
background-color: var(--color--blend-mode);
 border: none;
 color:var(--color--texto);
 flex-wrap: wrap;
outline: none;
}


.btn-align{
 background-color:var(--color--blend-mode);
 padding:3px 4px;
 color: var(--color--texto);
 border: none;
cursor: pointer;
margin: 3px;
width: 40px;
height: 35px;
}
.btn-align:hover{
    background-color:var(--btn--hover);
}


.dividir-cajas{
  display: flex;
  justify-content: center;
 margin-bottom: 5px;

} 

.caja-uno{
  display: flex;
 margin-bottom: 10px;
} 

.separar{
    width: 90px;
  padding-right: 15px;
}

.separar-dos{
    padding-left: 15px;
}

.botones-contorno{
display: flex;
justify-content: center;
}


.btn-ninguno, .btn-claro, .btn-oscuro{
  width: 85px;
  height: 30px;
 background-color: var(--color--blend-mode);
 border: none;
 color: var(--color--texto);
 justify-content: space-evenly;
 cursor: pointer;

}
.btn-ninguno:hover, .btn-claro:hover, .btn-oscuro:hover{
    background-color: var(--btn--hover);
}


.caja-contorno{
 padding-right: 2px; 
}

.caja-oscuro{
padding-left:2px ;
}

 #tama単o-espaciado{
width: 94%;
 background-color: var(--color--blend-mode);
 padding: 5px;
 border: none;
 outline: none;
} 

#line-height{
 width: 97%;
 height: 30px;
 background-color:var(--color--blend-mode);
 border: none;
 color: var(--color--texto);
 outline: none;
} 